<br><br>
<section style="background-color: rgb(22, 185, 185);;" class="text-center ">   
    <div>
        <br><h1><b>Center Filled Chocolates</b></h1><br>
        <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/filled/filled1.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Orange cream Filled Chocolates</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/filled/filled2.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Coconut-Filled Chocolates</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/filled/filled3.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Caremel-Filled Chocolates</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/filled/filled4.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Peanut-butter Filled Chocolates</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 17rem;">
                  <img src="../../assets/image/filled/filled5.jpg" class="card-img-top" height="250px" alt="...">
                  <div class="card-body text">
                    <h5 class="card-title">strawberry-Filled White Chocolates</h5>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 17rem;">
                  <img src="../../assets/image/filled/filled6.jpg" class="card-img-top" height="250px" alt="...">
                  <div class="card-body text">
                    <h5 class="card-title">Cranberry-Filled White Chocolates</h5>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 17rem;">
                      <img src="../../assets/image/filled/filled7.jpg" class="card-img-top" height="250px" alt="...">
                      <div class="card-body text">
                        <h5 class="card-title">Cream-Filled Mix Chocolates</h5>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
        <br> 
      </div>

      
</section>       