<br><br>
<section style="background-color: rgb(22, 185, 185);;" class="text-center ">   
    <div>
        <br><h1><b>Flavored Chocolates</b></h1><br>
        <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/flavored/flavored1.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Strawberry Flavored Chocolates</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/flavored/flavored2.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Rose Flavored Chocolates</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/flavored/flavored3.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">champagne Flavored Chocolates</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/flavored/flavored4.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Cranberry Flavored Filled Chocolates</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 17rem;">
                  <img src="../../assets/image/flavored/flavored5.jpg" class="card-img-top" height="250px" alt="...">
                  <div class="card-body text">
                    <h5 class="card-title">Brandy Flavored White Chocolates</h5>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 17rem;">
                  <img src="../../assets/image/flavored/flavored6.jpg" class="card-img-top" height="250px" alt="...">
                  <div class="card-body text">
                    <h5 class="card-title">whisky Flavored Chocolates</h5>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 17rem;">
                      <img src="../../assets/image/flavored/flavored7.jpg" class="card-img-top" height="250px" alt="...">
                      <div class="card-body text">
                        <h5 class="card-title">Butterscotch Flavored Chocolates</h5>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card" style="width: 17rem;">
                          <img src="../../assets/image/flavored/flavored8.jpg" class="card-img-top" height="250px" alt="...">
                          <div class="card-body text">
                            <h5 class="card-title">Orange Flavored Chocolates</h5>
                            <a href="#" class="btn btn-primary">Buy Now</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card" style="width: 17rem;">
                              <img src="../../assets/image/flavored/flavored9.jpg" class="card-img-top" height="250px" alt="...">
                              <div class="card-body text">
                                <h5 class="card-title">Lemon Flavored Chocolates</h5>
                                <a href="#" class="btn btn-primary">Buy Now</a>
                              </div>
                            </div>
                          </div>
          </div>
        </div>
        <br> 
      </div>

      
</section>       