<br><br>
<section style="background-color: rgb(22, 185, 185);;" class="text-center ">   
    <div>
        <br><h1><b>Chocolate Gift Packs</b></h1><br>
        <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/gift/gift1.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Happy Birthday Chocolate</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/gift/gift2.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Big Size Mix Chocolates Pack</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/gift/gift3.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title"> Square-box Mix Chocolates </h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/gift/gift4.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Small size Dark Chocolates Pack  </h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 17rem;">
                  <img src="../../assets/image/gift/gift5.jpg" class="card-img-top" height="250px" alt="...">
                  <div class="card-body text">
                    <h5 class="card-title">Big size Mix Chocolate Basket</h5>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 17rem;">
                  <img src="../../assets/image/gift/gift6.jpg" class="card-img-top" height="250px" alt="...">
                  <div class="card-body text">
                    <h5 class="card-title">Heart-shaped Chocolate Pack</h5>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 17rem;">
                      <img src="../../assets/image/gift/gift7.jpg" class="card-img-top" height="250px" alt="...">
                      <div class="card-body text">
                        <h5 class="card-title">Small Size Mix Chocolates Pack</h5>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
        <br> 
      </div>

      
</section>       