<br><br>
<section style="background-color: rgb(22, 185, 185);;" class="text-center ">   
    <div>
        <br><h1><b>Dark Chocolates</b></h1><br>
        <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/darkchoco/dark4.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Chocolate Bars</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/darkchoco/dark3.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Mix-Shapes</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/darkchoco/dark2.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Heart Chocolates</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
       
            <div class="card" style="width: 17rem;">
              <img src="../../assets/image/darkchoco/dark1.jpg" class="card-img-top" height="250px" alt="...">
              <div class="card-body text">
                <h5 class="card-title">Shell Chocolates</h5>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          
          </div>
          </div>
        </div>
        <br> 
      </div>

      <div>
            <br><h1><b>Milk Chocolates</b></h1><br>
            <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 17rem;">
                  <img src="../../assets/image/milkchoco/milk1.jpg" class="card-img-top" height="250px" alt="...">
                  <div class="card-body text">
                    <h5 class="card-title">Flower-Shpae</h5>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 17rem;">
                  <img src="../../assets/image/milkchoco/milk2.jpg" class="card-img-top" height="250px" alt="...">
                  <div class="card-body text">
                    <h5 class="card-title">Chocolate Bars</h5>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="width: 17rem;">
                  <img src="../../assets/image/milkchoco/milk3.jpg" class="card-img-top" height="250px" alt="...">
                  <div class="card-body text">
                    <h5 class="card-title">Rose-Shape</h5>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
           
                <div class="card" style="width: 17rem;">
                  <img src="../../assets/image/milkchoco/milk4.jpg" class="card-img-top" height="250px" alt="...">
                  <div class="card-body text">
                    <h5 class="card-title">Chocolate Bars</h5>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
              
              </div>
              </div>
            </div>
            <br> 
          </div>

          <div>
                <br><h1><b>White Chocolates</b></h1><br>
                <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 17rem;">
                      <img src="../../assets/image/whitechoco/white1.jpg" class="card-img-top" height="250px" alt="...">
                      <div class="card-body text">
                        <h5 class="card-title">Heart-Shpae</h5>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 17rem;">
                      <img src="../../assets/image/whitechoco/white2.jpg" class="card-img-top" height="250px" alt="...">
                      <div class="card-body text">
                        <h5 class="card-title">Chocolate Bars</h5>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card" style="width: 17rem;">
                      <img src="../../assets/image/whitechoco/white3.jpg" class="card-img-top" height="250px" alt="...">
                      <div class="card-body text">
                        <h5 class="card-title">Shell-Shape</h5>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
               
                    <div class="card" style="width: 17rem;">
                      <img src="../../assets/image/whitechoco/white4.jpg" class="card-img-top" height="250px" alt="...">
                      <div class="card-body text">
                        <h5 class="card-title">Teddy-Shape</h5>
                        <a href="#" class="btn btn-primary">Buy Now</a>
                      </div>
                    </div>
                  
                  </div>
                  </div>
                </div>
                <br> 
              </div>
</section>       